/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

tr {
  height: 100px;
  background-color: aqua;
}
td {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}